Repository HewlettPackard/shs-libfabric, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers, @hpe/hpc-shs-cassini-enablement

contrib/intel/jenkins: Add ompi testing
  contrib/intel/jenkins/Jenkinsfile
Owners: @hpe/hpc-shs-cassini-enablement

contrib/intel/jenkins: Cleanup trailing whitespace
  contrib/intel/jenkins/Jenkinsfile
Owners: @hpe/hpc-shs-cassini-enablement

contrib/intel/jenkins: Migrate ucx to water
  contrib/intel/jenkins/Jenkinsfile
Owners: @hpe/hpc-shs-cassini-enablement

contrib/intel/jenkins: Update target on weekly
  contrib/intel/jenkins/Jenkinsfile
Owners: @hpe/hpc-shs-cassini-enablement

fabtests/pytest/efa: Avoid duiplicate completion semantic for RMA test
  fabtests/pytest/efa/conftest.py
  fabtests/pytest/efa/test_rma_bw.py
  fabtests/pytest/efa/test_rma_pingpong.py
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

contrib/intel/jenkins: Migrate to new head node
  contrib/intel/jenkins/Jenkinsfile
Owners: @hpe/hpc-shs-cassini-enablement

fabtests/pytest/efa: merge memory_type and check_rma_bw_memory_type
  fabtests/pytest/efa/conftest.py
  fabtests/pytest/efa/test_rma_bw.py
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

contrib/intel/jenkins: Force Cleanup in Post
  contrib/intel/jenkins/Jenkinsfile
Owners: @hpe/hpc-shs-cassini-enablement

contrib/intel/jenkins: Add lpp & cxi to opt-out
  contrib/intel/jenkins/Jenkinsfile
Owners: @hpe/hpc-shs-cassini-enablement

contrib/intel/jenkins: Make all slurm jobs have the same name
  contrib/intel/jenkins/Jenkinsfile
Owners: @hpe/hpc-shs-cassini-enablement

contrib/intel/jenkins: Properly name shmem grass
  contrib/intel/jenkins/Jenkinsfile
Owners: @hpe/hpc-shs-cassini-enablement

prov/util: Define monitor unsubscribe_on_delete
  include/ofi_mr.h
  prov/util/src/cuda_ipc_monitor.c
  prov/util/src/cuda_mem_monitor.c
  prov/util/src/import_mem_monitor.c
  prov/util/src/kdreg2_mem_monitor.c
  prov/util/src/rocr_mem_monitor.c
  prov/util/src/uffd_mem_monitor.c
  prov/util/src/util_mr_cache.c
  prov/util/src/xpmem_monitor.c
  prov/util/src/ze_ipc_monitor.c
  prov/util/src/ze_mem_monitor.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

prov/cxi: Test monitor unsubscribe_on_delete
  prov/cxi/Makefile.include
  prov/cxi/test/mr_cache.c
  prov/cxi/test/test.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

prov/cxi: Remove CXI_MAP_IOVA_ALLOC flag.
  prov/cxi/include/cxip.h
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

prov/cxi: Fix CQ wait FD logic
  man/fi_cxi.7.md
  prov/cxi/include/cxip.h
  prov/cxi/src/cxip_cq.c
  prov/cxi/src/cxip_ctrl.c
  prov/cxi/src/cxip_ep.c
  prov/cxi/src/cxip_evtq.c
  prov/cxi/src/cxip_fabric.c
  prov/cxi/src/cxip_rxc.c
  prov/cxi/src/cxip_txc.c
  prov/cxi/test/cxip_test_common.c
  prov/cxi/test/tagged.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

prov/cxi: cxi EQ do not support wait objects
  prov/cxi/src/cxip_eq.c
  prov/cxi/test/eq.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

revert rocm arti url for rhel-9.5
  contrib/cray/runBuildPrep.sh
Owners: @hpe/hpc-shs-cassini-enablement

task: add cos-3.3 cuda and gdrcopy
  contrib/cray/runBuildPrep.sh
Owners: @hpe/hpc-shs-cassini-enablement

task: add cos-3.3 cuda and gdrcopy
  contrib/cray/runBuildPrep.sh
Owners: @hpe/hpc-shs-cassini-enablement

revert rocm arti url for rhel-9.5
  contrib/cray/runBuildPrep.sh
Owners: @hpe/hpc-shs-cassini-enablement

hmem/rocr: Support ofi_hmem_put_dmabuf_fd()
  include/ofi_hmem.h
  src/hmem.c
  src/hmem_rocr.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

src/hmem: Define ofi_hmem_put_dmabuf_fd
  include/ofi_hmem.h
  src/hmem.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

prov/cxi: Test CUDA with DMA buf FD recycling
  prov/cxi/test/cuda.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

prov/cxi: Test ROCR with DMA buf FD recycling
  prov/cxi/test/rocr.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

prov/cxi: Test ROCR with DMA buf offset
  prov/cxi/test/rocr.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

prov/cxi: Integrate with ofi_hmem_put_dmabuf_fd
  prov/cxi/include/cxip.h
  prov/cxi/src/cxip_iomm.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

hmem/cuda: Support ofi_hmem_put_dmabuf_fd()
  include/ofi_hmem.h
  src/hmem.c
  src/hmem_cuda.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

prov/cxi: Test CUDA with DMA buf FD recycling
  prov/cxi/test/cuda.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

src/hmem: Define ofi_hmem_put_dmabuf_fd
  include/ofi_hmem.h
  src/hmem.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

hmem/rocr: Support ofi_hmem_put_dmabuf_fd()
  include/ofi_hmem.h
  src/hmem.c
  src/hmem_rocr.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

hmem/cuda: Support ofi_hmem_put_dmabuf_fd()
  include/ofi_hmem.h
  src/hmem.c
  src/hmem_cuda.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

prov/cxi: Test ROCR with DMA buf offset
  prov/cxi/test/rocr.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

prov/cxi: Integrate with ofi_hmem_put_dmabuf_fd
  prov/cxi/include/cxip.h
  prov/cxi/src/cxip_iomm.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

prov/cxi: Test ROCR with DMA buf FD recycling
  prov/cxi/test/rocr.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

prov/cxi: Add FI_WAIT_YIELD EQ support
  prov/cxi/src/cxip_eq.c
  prov/cxi/test/cxip_test_common.c
  prov/cxi/test/cxip_test_common.h
  prov/cxi/test/eq.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

prov/cxi: remove libcurl and libjson-c deps
  contrib/cray/runBuildPrep.sh
  prov/cxi/Makefile.include
  prov/cxi/configure.m4
  prov/cxi/include/cxip.h
  prov/cxi/src/cxip_coll.c
  prov/cxi/src/cxip_curl.c
  prov/cxi/src/cxip_ep.c
  prov/cxi/src/cxip_eq.c
  prov/cxi/src/cxip_info.c
  prov/cxi/test/coll.c
  prov/cxi/test/curl.c
  prov/cxi/test/multinode/README.md
  prov/cxi/test/multinode/flask_fmgrsrv.py
  prov/cxi/test/multinode/multinode_frmwk.c
  prov/cxi/test/multinode/multinode_frmwk.h
  prov/cxi/test/multinode/perf_align.c
  prov/cxi/test/multinode/perf_getip.c
  prov/cxi/test/multinode/test_barrier.c
  prov/cxi/test/multinode/test_coll.c
  prov/cxi/test/multinode/test_frmwk.c
  prov/cxi/test/multinode/test_zbcoll.c
Owners: @hpe/hpc-shs-cassini-enablement, @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

cxi/prov: Fix deferred work test
  prov/cxi/test/deferred_work.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

cxi/prov: Fix deferred work test
  prov/cxi/test/deferred_work.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

prov/cxi: Add FI_WAIT_YIELD EQ support
  prov/cxi/src/cxip_eq.c
  prov/cxi/test/cxip_test_common.c
  prov/cxi/test/cxip_test_common.h
  prov/cxi/test/eq.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

prov/cxi: remove libcurl and libjson-c deps
  contrib/cray/runBuildPrep.sh
  prov/cxi/Makefile.include
  prov/cxi/configure.m4
  prov/cxi/include/cxip.h
  prov/cxi/src/cxip_coll.c
  prov/cxi/src/cxip_curl.c
  prov/cxi/src/cxip_ep.c
  prov/cxi/src/cxip_eq.c
  prov/cxi/src/cxip_info.c
  prov/cxi/test/coll.c
  prov/cxi/test/curl.c
  prov/cxi/test/multinode/README.md
  prov/cxi/test/multinode/flask_fmgrsrv.py
  prov/cxi/test/multinode/multinode_frmwk.c
  prov/cxi/test/multinode/multinode_frmwk.h
  prov/cxi/test/multinode/perf_align.c
  prov/cxi/test/multinode/perf_getip.c
  prov/cxi/test/multinode/test_barrier.c
  prov/cxi/test/multinode/test_coll.c
  prov/cxi/test/multinode/test_frmwk.c
  prov/cxi/test/multinode/test_zbcoll.c
Owners: @hpe/hpc-shs-cassini-enablement, @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libfabric-netc-codereviewers

.github/CODEOWNERS:

*       @hpe/hpc-shs-ss11-codereviewers  @hpe/hpc-shs-libfabric-netc-codereviewers
Jenkinsfile* @hpe/hpc-shs-cassini-enablement
*.spec.in @hpe/hpc-shs-cassini-enablement
contrib/cray/Jenkinsfile* @hpe/hpc-shs-cassini-enablement
contrib/cray/*rpmbuild* @hpe/hpc-shs-cassini-enablement
contrib/cray/*runBuildPrep* @hpe/hpc-shs-cassini-enablement
contrib/cray/run.*	@hpe/hpc-shs-cassini-enablement
contrib/cray/build.sh	@hpe/hpc-shs-cassini-enablement
